<% include ../partials/header %>

<ul>
    <% users.forEach(function(user){ %>
        <li><%=user.username%></li>
    <% }); %>
    <hr>
    <%campgrounds.forEach(function(camp){%>
        <li><%=camp.name%>, <%=camp.author.username%></li>
    <% }); %>
    <hr>
    <%comments.forEach(function(comment){%>
        <li><%=comment.text%>, <%=comment.author.username%></li>
    <% }); %>
        
    
</ul>

<% include ../partials/footer %>