<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">yelpcamp</p>
            <div class="list-group">
                <li class="list-group-item active">info</li>
                <li class="list-group-item">info</li>
                <li class="list-group-item">info</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=campground.image%>" onerror="this.src='https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7ca353cfcc4299e6c3d431ff862e1cf&auto=format&fit=crop&w=400&q=60'" />
                <div class="caption-full">
                    <h4 class="pull-right">$<%=campground.price%>/night</h4>
                    <h4><a><%=campground.name%></a></h4>
                    <p><%=campground.description%></p>
                    <p>
                        <p>
                            <em>Submitted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                        </p>
                    </p>
                    <% if (currUser && campground.author.id.equals(currUser._id)) { %>
                        <a class="btn btn-warning btn-xs" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-xs">Remove</button>
                        </form>
                    <% }; %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Leave a Review</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=comment.author.username%></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%=comment.text%>
                            </p>
                            <% if (currUser && comment.author.id.equals(currUser._id)) { %>
                                <a class="btn btn-warning btn-xs" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-xs">Remove</button>
                                </form>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>


<script>
    var map;
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng};
        map = new google.maps.Map(document.getElementById('map'), {
          center: center,
          zoom: 8,
          scrollwheel: false
        });
        var contentString = `
          <strong><%= campground.name %><br />
          <%= campground.location %></strong>
          <p><%= campground.description %></p>
        `
        var infoWindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 140
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener("click", function(){
            infoWindow.open(map, marker);
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc7lguFDtJX1213J5ME-PNESZbHM5S62o&callback=initMap"
async defer></script>



<% include ../partials/footer %>